@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../../fonts/RubikDoodleShadow-Regular.ttf);
}

.category{
    width: 200px;
    height: 200px;
    padding: 10px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease 0s;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.400);
    background: #fff;
}

.project-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.upload-box {
    border: 2px dashed #ccc;
    padding: 20px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
}
.upload-box:hover {
    border-color: #888;
}

.upload-content i{
    border: none;
}
.upload-content p {
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}
.upload-content p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}
.preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.add-category{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

.category img {
    height: 100px;
    object-fit: cover;
    transition: all 0.4s ease 0s;
}

.category h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.category:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.add-form{
    text-align: center;
    margin: 20px auto;
}

.add-form b{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.add-form div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.4s ease 0s;
    margin: 10px;
    gap: 20px;

}

.add-form input, .add-form select {
    border-radius: 10px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border: 1px dashed gray;
}

.add-form button {
    border: 1px solid rgba(255, 0, 0, 0.205);
    background: white;
    padding: 10px;
    transition: all 0.4s ease 0s;
    border-radius: 10px;
    width: 100%;
}

.add-form .title-office{
    position: relative;
    width: 100%;
    /* transform: all ease-in .1s; */
}
.add-form .title-office label{
    position: absolute;
    left: 15px;
    pointer-events: none;
    transform: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.add-form .title-office input, .add-form select{
    width: 100%;
}

.add-form select{
    padding-left: 30px;
}

input:focus, input:valid{
    outline: none;
    border: 1px solid gray;
}

input:focus ~ label, input:valid ~ label{
    transform: translateY(-18px) scale(.9);
    background-color: white;
    padding: 0 5px;
    color: black;
}