.input-value input, .input-value select {
    border-radius: 10px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border: 1px dashed gray;
}

.input-value{
    position: relative;
    width: 100%;
    margin: 20px 0;
    /* transform: all ease-in .1s; */
}

.input-value input:disabled{
    border: none;
    outline: none;
    background: transparent;
    color: white;
}
.input-value input:disabled ~ label{
    display: none;
}

.input-value label{
    position: absolute;
    left: 15px;
    color: gray;
    pointer-events: none;
    transform: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-value input, .input-value select{
    width: 100%;
}

.input-value input:focus, .input-value input:valid{
    outline: none;
    border: 1px solid gray;
}

.input-value input:focus ~ label, .input-value input:valid ~ label{
    transform: translateY(-18px) scale(.9);
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 0 5px;
    color: black;
}

.input-value input:placeholder-shown{
    border: 1px solid red;
}