header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.45);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo img{
  height: 30px;
  user-select: none;
}
.logo .logo-text{
  object-fit: contain;
}
.logo .logo-img{
  height: 50px;
  object-fit: contain;
}
.hero-cars {
  width: 600px;
}

.hero-cars img {
  width: 100%;
  object-fit: contain;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.navbar .res-list {
  display: none;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item h2 {
  color: #214690; /* A fresh green color */
  text-decoration: none;
  font-family: 'Poppins', sans-serif; /* Modern and elegant font */
  font-size: 1.5rem; /* Adjust to fit your design */
  font-weight: 600; /* Slightly bold for emphasis */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.login {
  color: #2e64ba !important;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 30px;
  font-family: sans-serif;
  border: 2px solid #3b82f6;
}

.login:hover {
  color: white !important;
  background: #2e64ba;
}

.home-exit {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-exit i {
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  color: greenyellow;
  justify-content: center;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.45);
}

.exit-login i {
  font-size: 18px;
  color: #a2001d;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 20px;
}

@media (max-width: 1024px) {
  .hero-cars {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }
  .navbar .res-list {
    margin: 0;
    display: block;
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .hero {
    flex-direction: column-reverse;
  }

  .hero-cars {
    width: 100%;
    margin: 0 auto;
  }

  .hero-cars img {
    width: 100% !important;
  }

  .hero {
    margin-top: 50px;
  }

  .hero .dream-car {
    text-align: center;
  }

  .hero .button-flex {
    justify-content: center;
    align-items: center;
  }
  .hero .button-flex span {
    font-size: 40px;
  }
  .hero .button-flex a {
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  .hero {
    flex-direction: column-reverse;
  }

  .hero-cars img {
    width: 300px !important;
  }

  .hero-cars {
    width: 300px;
  }
}
