footer {
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.45);
  overflow: hidden;
}

.information {
  width: 100%;  
}

.information-faq {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.information-faq h6 {
  font-size: 16px;
  font-weight: 400;
  color: #666872;
  cursor: pointer;
}

.poiciy {
  display: flex;
  /* gap: 40px; */
  padding: 16px 0;
}
.poiciy a {
  font-size: 16px;
  font-weight: 400;
  color: #666872;
  cursor: pointer;
}

@media (max-width: 956px) {
    .information-faq {
    flex-wrap: wrap;
    gap: 20px;
  }
}
