:root {
  --yellow: #f5c32c;
  --yellowgreen: #ceef57;
  --bluewhite: #56becc;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(238, 243, 247, 0.445);
  --buttonBg: linear-gradient(98.63deg, #25cff9 0%, #0ca3c9 50%, #0d3fac 100%);
  --buttonBgTwo: linear-gradient(
    98.63deg,
    #ec2222 0%,
    #d10505 50%,
    #970b0b 100%
  );
  --inputColor: rgba(8, 15, 85, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures footer sticks to the bottom */
}

.content {
  flex: 1;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), /* Overlay */
    url(/public/images/ijod-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.options{
  list-style-type: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 45px;
  right: 30px;
  border-radius: 5px;
  overflow: hidden;
  width: 120px;
  background-color: white;
  padding: 0;
}

.options li{
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  font-size: 15px;
}

.options li:hover{
  background-color: red;
}

.delBtn{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: red;
  text-shadow: 0 0 5px white;
  z-index: 2;
  font-size: 18px;
}

.link-item::after{
  content: '';
  position: absolute;
  inset: 0;
}

section {
  margin-top: 100px;
}


@media (max-width: 450px){
  .container{
      padding: 10px;
  }
}